.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
body{
  margin: 0;
  padding:0;
}
h1,h2,h3,h4,h4,h6{
  font-family: 'Acme', sans-serif;
}
p{
  font-family: 'Bree Serif', serif;

}
